<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<bean id="s1" class="com.zensar.beans.Student">
		<property name="studentId" value="1"></property>
		<property name="studentName" value="Ram"></property>
		<property name="studentAge" value="20"></property>
	</bean>


	<bean class="com.zensar.beans.MyBeanPostProcessor"></bean>


</beans>
